general:
  verbose: false

steps:
  containerBuild:
    dockerFilePath: 'Dockerfile'
    containerImageName: 'ghcr.io/mzhangxy/trialapp'
    containerImageTag: 'latest'
    containerRegistryUrl: 'ghcr.io'
    dockerConfigJsonCredentialsId: 'ghcr-docker-config'

  kubernetesDeploy:
    deployTool: 'kubectl'
    kubernetesCredentialsId: 'kyma-kubeconfig'
    namespace: 'default'
    deployCommand: 'apply -f k8s/ --recursive'

stages:
  Build:
    containerBuild: {}
  Production:
    kubernetesDeploy: {}
